.App {
  text-align: center;
  box-sizing: border-box;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.link {
  padding: 10px;
}

.column {
  display: inline-block;
  padding: 10px;
  text-align: left;
  height: 522px;
  vertical-align: top;
}

.left {
  background-color: #BED9F4;
  width: 26%;
}

.right {
  text-align: left;
  width: 74%;
  overflow-x: scroll;
}

h1 {
  display: inline;
  margin-right: 20px;
  font-size: 40px;
}

#new-room-input {
  display: block;
  width: 100%;
  height: 20px;
  margin-bottom: 10px;
  font-size: 16px;
}

#form-new-room {
  text-align: center;
}

p.room-list {
  margin-top: 15px;
  margin-bottom: 0;
}

p.room-list::first-letter {
  text-transform: uppercase;
}

.room-title::first-letter {
  text-transform: uppercase;
}

.room-title {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.room-title > p{
  margin-bottom: 0;
}

.sent-at{
  text-align: right;
}

.sent-at {
  text-align: right;
}

.message {
  width: 100%;
  padding: 10px;
  padding-left: 20px;
}

.user-message {
  background-color: #E6E6FA;
}

.message-time {
  float: right;
  color: #aaa;
}

h4 {
  display: inline;
}

#write-message {
  font-size: 18px;
  height: 35px;
  margin-left: 335px;
  width: 860px;
  margin-right: 10px;
}

#write-message:focus {
  outline: none;
}

.type-box {
  display: inline-block;
  position: absolute;
    top: 510px;
    bottom: 0;
    right: 0px;
    left: 0px;
}

.hide {
  display: none;
}

.signInButton {
  margin: 10px;
}
